@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Poor Richard";
    src: url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.eot");
    src: url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.svg#Poor Richard") format("svg");
}

:root {
    --speed: 3000ms;
    --img-size: 128px;
}

* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #888;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    position: relative;
    background: linear-gradient(180deg, #000B32 0%, #003952 100%);
    overflow: hidden;
}

p {
    text-align: center;
}

#logodiv {
    min-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
}

.tech-slideshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 100%;
}

.tech-slideshow .mover {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: var(--img-size);
}

.tech-slideshow img {
    height: var(--img-size);
    width: var(--img-size);
    box-shadow: 0 4px 6px #000;
}

#mover-left {
    animation: moveSlideshowLeft var(--speed) linear infinite;
    -webkit-animation: moveSlideshowLeft var(--speed) linear infinite;
    -moz-animation: moveSlideshowLeft var(--speed) linear infinite;
    -o-animation: moveSlideshowLeft var(--speed) linear infinite;
}

#mover-right {
    animation: moveSlideshowRight var(--speed) linear infinite;
    -webkit-animation: moveSlideshowRight var(--speed) linear infinite;
    -moz-animation: moveSlideshowRight var(--speed) linear infinite;
    -o-animation: moveSlideshowRight var(--speed) linear infinite;
}

@keyframes moveSlideshowLeft {
    100% { 
        transform: translateX(calc((var(--img-size) + 10px) * -1));
    }
}

@keyframes moveSlideshowRight {
    100% { 
        transform: translateX(calc(var(--img-size) + 10px));
    }
}

#button {
    background-image: url('images/btn.png');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
}

#button-icon {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(images/finger.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 500ms;
}

#button-icon:hover {
    top: 52%;
    filter: brightness(75%)
}

#button:hover, #button-icon:hover {
    cursor: pointer;
}

.generate-button {
    width: 250px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1000ms;
}

.image-editor {
    background-image: url('images/btn.png');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: growAndShrink 2500ms;
    animation-fill-mode: forwards;
}

.loading {
    width: 10%;
    height: 10%;
}

.image-editor img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes growAndShrink {
    0% {
        width: 250px;
        height: 250px;
    }
    50% { 
        width: 100vh;
        height: 100vh;
    }
    100% { 
        width: 700px;
        height: 700px;
    }
}

/* TODO make everything (lol) scalable */

@media only screen and (max-width: 280px) {

    body,
    p {
        width: 95%;
    }

    h1 {
     font-size: 1.5em;
     margin: 0 0 0.3em;
    }
}