@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Poor Richard";
    src: url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.eot");
    src: url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.svg#Poor Richard") format("svg");
}

* {
      line-height: 1.2;
      margin: 0;
    }

html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 2em auto;
    background: linear-gradient(180deg, #000B32 0%, #003952 100%);
}

#logo {
    width: 25%;
    min-width: 200px;
    height: auto;
}

.tech-slideshow {
    height: 180px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }
  
.tech-slideshow > div {
    height: 200px;
    width: 400%;
    background: url('gallery.png');
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
    animation: moveSlideshow 50s linear infinite;
}

#tech-slideshow {
    display: none;
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-66.6666%);  
    }
}

@media only screen and (max-width: 280px) {

    body,
    p {
        width: 95%;
    }

    h1 {
     font-size: 1.5em;
     margin: 0 0 0.3em;
    }
}