@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: "Poor Richard";
    src: url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.eot");
    src: url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/1646cde4cb82668c6d24c9f33e67e4ea.svg#Poor Richard") format("svg");
}

* {
    line-height: 1.2;
    margin: 0;
}

html {
    color: #888;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    position: relative;
    background: linear-gradient(180deg, #000B32 0%, #003952 100%);
}

p {
    text-align: center;
}

#logodiv {
    min-width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
}

.tech-slideshow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.tech-slideshow .mover {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: auto;
}

.tech-slideshow img {
    box-shadow: 0 4px 6px #000;
}

#mover-left {
    animation: moveSlideshowLeft 1000ms linear infinite;
}

#mover-right {
    animation: moveSlideshowRight 1000ms linear infinite;
}

@keyframes moveSlideshowLeft {
    100% { 
        transform: translateX(-138px);
    }
}

@keyframes moveSlideshowRight {
    100% { 
        transform: translateX(138px);
    }
}

/* TODO make the #logodiv scalable */

@media only screen and (max-width: 280px) {

    body,
    p {
        width: 95%;
    }

    h1 {
     font-size: 1.5em;
     margin: 0 0 0.3em;
    }
}