Flask
Flask-Cors
Jinja2
Keras
Keras-Preprocessing
Pillow
Werkzeug
absl-py
astunparse
cachetools
certifi
chardet
click
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
itsdangerous
kiwisolver
matplotlib
numpy
oauthlib
opt-einsum
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
rsa
scipy
setuptools
tensorboard
tensorboard-plugin-wit
tensorflow-cpu==2.4.0
urllib3
wheel
wrapt