Flas
Flask-Cors
Jinja2
Keras
Keras-Preprocessing
MarkupSafe
Pillow
Werkzeug
absl-py
astunparse
cachetools
certifi
chardet
click
cycler
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
itsdangerous
kiwisolver
matplotlib
numpy
oauthlib
opencv-python-headless
opt-einsum
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
rsa
scipy
setuptools
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
urllib3
wheel
wrapt