Flask
Flask-Cors
Keras
Keras-Preprocessing
Pillow
absl-py
cachetools
certifi
chardet
click
cycler
gast
grpcio
h5py==2.10.0
idna
imageio
matplotlib
numpy
oauthlib
opt-einsum
rsa
setuptools
tensorboard
tensorboard-plugin-wit
tensorflow-cpu==2.3.0
urllib3
wheel
wrapt